.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  color: #f9dbbb;
  cursor: pointer;
  background-color: #4e6e81;
  border: 1px solid #4e6e81;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #145f8a;
  border-color: #145f8a;
  color: #f9dbbb;
}

.cart_empty_container {
  display: flex;
  justify-content: center;
}

.cart_empty_text {
  color: gray;
  margin: 25px 0 50px;
}

.cart_items {
  display: flex;
  flex-direction: column;
  max-height: 340px;
  overflow: auto;
}

.total,
.total_amount {
  font-size: 20px;
}

.total {
  margin-right: 10px;
}

.total_container {
  align-items: center;
  border-top: 1px solid gray;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}
